.sort-list {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  width: fit-content;

  .sort-button {
    padding: 0.2rem 0.4rem 0.2rem;
    border-radius: 0.2rem;

    border: none;

    font-family: inherit;
    text-transform: lowercase;

    color: hsl(216, 24%, 40%, 1);
    background-color: hsl(216, 16%, 8%, 1);
    cursor: pointer;

    transition: background-color 0.4s ease;

    &.active {
      color: ghostwhite;
      background-color: hsl(216, 100%, 64%, 1);
    }
  }
}
