@use '../base' as *;

.hero-movie-info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  &__title {
    font-size: 2.8rem;
    line-height: 1.2;

    color: $color-neutral-200;

    filter: drop-shadow(0 0 1rem black);
  }

  &__row-box {
    display: flex;
    align-items: center;
    gap: 0.64rem;
  }

  &__overview {
    width: 44%;

    font-size: 1rem;
    line-height: 1.5;

    color: $color-neutral-200;
    opacity: 0.8;

    filter: drop-shadow(0 0 0.4rem black);

    @include truncate-text(2);
  }

  &__button {
    @include base-button($color-primary-700, $color-neutral-200);
    font-weight: 500;

    display: none;
  }

  @include media-query($breakpoint-sm) {
    &__title {
      font-size: 2.4rem;
    }

    &__overview {
      width: 100%;
    }
  }
}
