@use '../base/media-queries' as media-query;
@use '../base/colors' as c;

$hero-title-color: c.$color-primary-600;
$hero-slogan-color: c.$color-neutral-700;

// .hero {
//   display: flex;
//   flex-direction: column;
//   gap: 1em;

//   width: 100%;
//   padding: 6.4rem 16% 4rem;

//   @include media-query.mobile-small {
//     padding: 6.4rem 8% 2rem;
//   }

//   .title-box {
//     display: flex;
//     flex-direction: column;
//     gap: 0.2rem;

//     width: 100%;

//     &__title {
//       font-size: 2rem;
//       line-height: 1;
//       color: $hero-title-color;
//     }

//     &__slogan {
//       font-size: 1rem;
//       color: $hero-slogan-color;
//     }

//     @include media-query.mobile-large {
//       &__title {
//         font-size: 1.8rem;
//       }
//     }

//     @include media-query.mobile-small {
//       align-items: center;
//       text-align: center;
//       gap: 0.4rem;

//       &__title {
//         font-size: calc(1rem + 3.2vw);
//       }

//       &__slogan {
//         width: 24ch;
//         font-size: 0.92rem;
//         line-height: 1.2;
//       }
//     }
//   }

//   &__search-box {
//     display: flex;
//     flex-direction: column;
//     gap: 0.4rem;

//     @include media-query.mobile-small {
//       gap: 0.64rem;
//     }
//   }
// }
