@use '../base/colors' as c;
@use '../base/media-queries' as media-query;

$movie-title-color: c.$color-neutral-200;
$movie-date-color: c.$color-neutral-800;

$gradient-value-1: transparent;
$gradient-value-2: c.$color-neutral-1400;

a:has(.movie-card) {
  text-decoration: none;
}

.movie-card {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  aspect-ratio: 1/1.5;
  width: 100%;
  padding: 1rem;
  border-radius: 0.32rem;

  overflow: hidden;
  isolation: isolate;
  cursor: pointer;

  &__average {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;

    h3 {
      font-size: 1rem;
      line-height: 1;
      text-transform: capitalize;

      color: $movie-title-color;

      @include media-query.mobile-small {
        font-size: 1.32rem;
        line-height: 1.2;
      }
    }

    time {
      display: inline-block;
      font-size: 0.8rem;

      color: $movie-date-color;

      @include media-query.mobile-small {
        font-size: 1rem;
      }
    }
  }

  &:hover .movie-card__poster {
    transform: scale(1.1);
  }

  &__poster {
    position: absolute;
    inset: 0;
    z-index: -20;

    width: 100%;
    height: 100%;

    object-fit: cover;
    user-select: none;

    transition: transform 1s ease;
  }

  &::before {
    position: absolute;
    inset: 0;
    z-index: -10;
    content: '';

    width: 100%;
    height: 100%;

    background: linear-gradient(
      to bottom,
      $gradient-value-1 50%,
      $gradient-value-2 90%
    );
  }

  // oculta la info y deja solo el poster
  &.no-info {
    &::before {
      background: none;
    }

    *:not(img) {
      display: none;
    }
  }

  @include media-query.mobile-small {
    .score-badge {
      gap: 0.32rem;

      &__icon {
        width: 1rem;
        height: 1rem;
      }

      &__score {
        font-size: 1rem;
      }
    }
  }
}
