@use '../base/colors' as c;
@use '../base/typography' as *;

$author-name-cl: c.$color-neutral-900;
$author-link-cl: c.$color-neutral-900;
$hovered-author-link-cl: c.$color-neutral-400;

.author-info {
  display: flex;
  align-items: center;
  gap: 0.6rem;

  &__name {
    font-size: 0.92rem;
    text-transform: capitalize;
    font-weight: 500;

    color: $author-name-cl;
  }

  .link-list {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    width: fit-content;
    height: fit-content;

    list-style: none;

    &__link {
      display: grid;
      place-items: center;

      svg {
        width: 20px;
        height: 20px;

        fill: $author-link-cl;
        transition: fill 0.4s ease;
      }
    }

    &__link:hover svg {
      fill: $hovered-author-link-cl;
    }
  }
}
