.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 1rem 16%;

  &__logo-box {
    display: flex;
    align-items: center;

    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}

@media (width <= 480px) {
  .header {
    padding: 1rem 8%;
  }
}
