@use '../base/media-queries' as media-query;

.header {
  // position: absolute;
  // top: 0;
  // left: 0;
  // z-index: 100;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 1rem 16%;

  @include media-query.mobile-small {
    padding: 1rem 8%;
  }

  &__logo-box {
    display: flex;
    align-items: center;

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  &__search-box {
  }
}
