.hero {
  display: flex;
  flex-direction: column;
  gap: 1em;

  width: 100%;
  padding: 6.4rem 16% 4rem;

  &__title-box {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    width: 100%;

    h2 {
      font-size: 2rem;
      line-height: 1;
      color: hsl(216, 100%, 64%, 1);
    }

    p {
      font-size: 1rem;
      color: hsl(216, 80%, 96%, 0.4);
    }
  }

  &__search-box {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
}

@media (width <= 768px) {
  .hero__title-box {
    h2 {
      font-size: 1.8rem;
      color: hsl(216, 100%, 64%, 1);
    }

    p {
      font-size: 1rem;
      color: hsl(216, 80%, 96%, 0.4);
    }
  }
}

@media (width <= 480px) {
  .hero {
    padding: 6.4rem 8% 2rem;

    &__title-box {
      align-items: center;
      text-align: center;
      gap: 0.4rem;

      h2 {
        font-size: calc(1rem + 3.2vw);
      }

      p {
        width: 24ch;
        font-size: 0.92rem;
        line-height: 1.2;
      }
    }

    &__search-box {
      gap: 0.64rem;
    }
  }
}
