.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;

  width: 100%;
  padding: 7.2rem 16% 4rem;

  $gradient-value-1: hsl(216, 40%, 04%, 1);
  $gradient-value-2: hsl(216, 64%, 24%, 0.6);

  background: linear-gradient(to bottom, $gradient-value-1, $gradient-value-2);
  overflow: hidden;

  &__title-box {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    width: 100%;

    h2 {
      font-size: 2rem;
      line-height: 1;
      color: hsl(216, 100%, 64%, 1);
    }

    p {
      font-size: 1rem;
      color: hsl(216, 80%, 96%, 0.4);
    }
  }

  &__search-box {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &__backdrop {
    position: absolute;
    z-index: -10;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
    transform: scale(1.2);

    filter: grayscale(64%) blur(0.4rem) brightness(1.2) contrast(1.2);

    opacity: 0;

    &.active {
      animation: appear 1.2s ease forwards;
    }

    &.unactive {
      animation: disappear 0.8s ease forwards;
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (width <= 768px) {
  .hero__title-box {
    h2 {
      font-size: 1.8rem;
      color: hsl(216, 100%, 64%, 1);
    }

    p {
      font-size: 1rem;
      color: hsl(216, 80%, 96%, 0.4);
    }
  }
}

@media (width <= 480px) {
  .hero__title-box {
    align-items: center;
    text-align: center;

    h2 {
      font-size: calc(1rem + 2vw);
      color: hsl(216, 100%, 64%, 1);
    }

    p {
      font-size: 0.8rem;
      color: hsl(216, 80%, 96%, 0.4);
    }
  }
}
