@use '../base/colors' as c;
@use '../base/media-queries' as media-query;

$search-input-cl: c.$color-neutral-600;
$search-input-placeholder-cl: c.$color-neutral-600;
$search-input-bg: hsl(c.$hue-primary, 16%, 8%, 0.88);

.input-box {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 480px;

  input[type='text'] {
    width: 100%;
    height: auto;

    padding: 0.4rem 0.8rem 0.5rem;
    border-radius: 0.32rem;
    border: none;
    outline-color: transparent;

    font-family: inherit;
    font-size: 1rem;

    color: $search-input-cl;
    background-color: $search-input-bg;

    transition: outline 0.4s ease;

    &:focus {
      outline: 1px solid hsl(216, 100%, 64%, 0.2);
      caret-color: hsl(216, 100%, 64%, 0.6);
    }

    &::placeholder {
      color: hsl(216, 80%, 96%, 0.2);
    }
  }

  &__reset-button {
    position: absolute;
    right: 0.8rem;
    top: 0.7rem;
    bottom: 0.7rem;

    display: inline-grid;
    place-items: center;

    width: fit-content;
    border: none;
    border-radius: 0.2rem;

    font-size: 1rem;
    font-weight: 800;
    line-height: 1.1;

    color: hsl(216, 60%, 64%, 1);
    background-color: transparent;
    transition: filter 0.4s ease;

    cursor: pointer;

    svg {
      width: auto;
      height: 100%;

      fill: hsl(216, 64%, 64%, 1);
    }

    &:hover {
      filter: brightness(1.2);
    }
  }
}
