@use '../base' as *;

$gradient-value-1: hsl($hue-primary, 100%, 04%, 0.8);
$gradient-value-2: hsl($hue-primary, 40%, 04%, 0.7);
$gradient-value-3: $color-neutral-1300;

.backdrop-container {
  position: relative;

  width: 100%;
  padding: 8rem 16%;

  overflow: hidden;
  isolation: isolate;

  &::after {
    position: absolute;
    z-index: -10;
    inset: 0;
    content: '';

    // buscar una mejor manera de hacer esto
    background: linear-gradient(
      to bottom,
      $gradient-value-1,
      $gradient-value-2,
      hsl($hue-primary, 40%, 04%, 0.6),
      hsl($hue-primary, 40%, 04%, 0.5),
      hsl($hue-primary, 40%, 04%, 0.4),
      hsl($hue-primary, 40%, 04%, 0.45),
      hsl($hue-primary, 40%, 04%, 0.5),
      hsl($hue-primary, 40%, 04%, 0.6),
      hsl($hue-primary, 40%, 04%, 0.7),
      hsl($hue-primary, 40%, 04%, 0.8),
      hsl($hue-primary, 40%, 04%, 0.9),
      $gradient-value-3
    );
  }

  &__backdrop {
    position: absolute;
    z-index: -20;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: top;
    transform: scale(1.2);

    filter: grayscale(20%) blur(0.8rem) brightness(1.2) contrast(1.2);

    opacity: 0;

    &.active {
      animation: appear 1.2s 0.2s ease forwards;
    }

    &.unactive {
      animation: disappear 0.8s ease forwards;
    }
  }
}
