@use '../base' as *;

.search-page {
  @include flex(column, start, center);
  padding: 4rem 16%;

  &__hero {
    position: absolute !important;
    z-index: -10;
    top: 0;
    left: 0;

    height: 80vh;
  }

  .heading {
    @include flex(column, start, center, 0.4rem);
    margin: 1.6rem 0 1.6rem;
    text-align: center;

    &__title {
      font-size: 2.4rem;
      line-height: 2.4rem;
      color: $color-neutral-100;
    }

    &__subtitle {
      color: $color-neutral-500;
    }
  }

  .sort-list {
    margin: 1rem auto 0;
    padding: 0 0 1rem;
  }

  @include media-query($breakpoint-sm) {
    padding: 4rem 8%;
  }
}
