@use '../base/colors' as *;
@use '../base/media-queries' as media-query;

$gradient-value-1: hsl(216, 40%, 04%);
$gradient-value-2: hsl(216, 64%, 24%, 0.6);

$back-button-color: $color-primary-600;
$back-button-bg: hsl($hue-primary, 100%, 64%, 0.16);

.movie-detail {
  display: flex;
  align-items: center;

  width: 100%;
  height: 100dvh;

  background: radial-gradient($gradient-value-2, $gradient-value-1);

  &__poster {
    display: grid;
    place-items: center;
    flex-shrink: 0;

    aspect-ratio: 1/1.5;
    height: 100%;

    border-radius: 0.6rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    gap: 2rem;
    height: 100%;

    opacity: 0;
    animation: appear 0.8s 0s ease forwards;

    @include media-query.tablet {
      background-color: red;
    }
  }

  .info-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    &__back-button {
      display: inline-grid;
      place-items: center;

      padding: 0rem 0.48rem;
      border-radius: 0.32rem;

      width: fit-content;

      background-color: $back-button-bg;

      svg {
        width: 20px;

        fill: $back-button-color;
      }

      &:hover {
        filter: brightness(1.2);
      }
    }

    &__header {
      display: flex;
      flex-direction: column;
      gap: 0.64rem;

      .header__title {
        font-size: 2.2rem;
        text-transform: capitalize;
        line-height: 1;
      }

      .header__subtitle-box {
        display: flex;
        align-items: center;
        gap: 0.64rem;

        .subtitle-box__date {
          font-size: 0.88rem;
          color: $color-neutral-200;
        }

        // [ ] Componentizar
        .subtitle-box__score {
          padding: 0.2rem 0.32rem 0.2rem;
          border-radius: 0.2rem;

          font-size: 0.8rem;
          font-weight: 600;
          line-height: 1;

          color: $color-neutral-200;
          background-color: $color-primary-700;
        }
      }

      .subtitle-box__genre-list {
        display: flex;
        align-items: center;
        gap: 0.4rem;

        list-style: none;

        li span {
          padding: 0 0.4rem 0.1rem;
          border-radius: 0.32rem;

          font-size: 0.88rem;
          color: $color-neutral-500;

          background-color: hsl($hue-primary, 12%, 0%, 0.32);

          user-select: none;
        }
      }
    }

    &__overview-box {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      .overview-box__title {
        font-size: 1.6rem;
      }

      .overview-box__overview {
        font-size: 1.12rem;
        font-weight: 300;
        line-height: 1.5;

        color: $color-neutral-400;
      }
    }
  }
}

// [ ]: Mejorar el estilo del responsive

@media (width <= 1024px) {
  .movie-detail .content {
    height: 90%;
  }

  // [ ]: Esto no esta bien
  .movie-detail .movie-info .movie-info__heading .title {
    font-size: 2rem;
  }
}

@media (width <= 768px) {
  .movie-detail {
    height: auto;
    min-height: 100dvh;
  }

  .movie-detail .content {
    flex-direction: column;
    height: 100%;
  }
}

@media (width <= 480px) {
  .movie-detail {
    padding: 4.8rem 8%;
  }
}
