@use '../base/colors' as *;
@use '../base/media-queries' as media-query;

$gradient-value-1: hsl(216, 40%, 04%);
$gradient-value-2: hsl(216, 64%, 24%, 0.6);

$back-button-color: $color-primary-600;
$back-button-bg: hsl($hue-primary, 100%, 64%, 0.16);

.movie-detail {
  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
  height: 100dvh;

  background: radial-gradient($gradient-value-2, $gradient-value-1);


  &__loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;

    transform: translate(-50%, -50%) !important;
  }

  &__poster {
    display: grid;
    place-items: center;
    flex-shrink: 0;

    aspect-ratio: 1/1.5;
    height: 100%;

    border-radius: 0.6rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: relative;

    display: flex;
    gap: 2rem;
    height: 100%;

    opacity: 0;
    animation: appear 0.8s 0s ease forwards;

    @include media-query.tablet {
      height: 88%;
      gap: 1.6rem;
    }

    @include media-query.mobile-large {
      flex-direction: column;
    }
  }

  .info-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    &__back-button {
      display: inline-grid;
      place-items: center;

      padding: 0rem 0.48rem;
      border-radius: 0.32rem;

      width: fit-content;

      background-color: $back-button-bg;

      svg {
        width: 20px;

        fill: $back-button-color;
      }

      &:hover {
        filter: brightness(1.2);
      }

      @include media-query.mobile-large {
        position: absolute;
        top: 1rem;
        left: 1rem;

        padding: 0.2rem 0.4rem;

        background-color: hsl($hue-primary, 100%, 32%, 0.64);
        backdrop-filter: blur(0.32rem);

        svg {
          width: 32px;
          fill: $color-primary-100;
        }
      }
    }

    &__header {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      .header__title {
        font-size: 2.2rem;
        text-transform: capitalize;
        line-height: 1.2;

        @include media-query.tablet {
          font-size: 2rem;
        }
      }

      .header__subtitle-box {
        display: flex;
        align-items: center;
        gap: 0.64rem;

        .subtitle-box__date {
          font-size: 0.88rem;
          color: $color-neutral-200;
        }
      }

      .subtitle-box__genre-list {
        display: flex;
        align-items: center;
        gap: 0.4rem;

        margin-top: 0.2rem;
        list-style: none;

        li span {
          padding: 0 0.4rem 0.1rem;
          border-radius: 0.32rem;

          font-size: 0.88rem;
          color: $color-neutral-500;

          background-color: hsl($hue-primary, 12%, 0%, 0.32);

          user-select: none;
        }
      }
    }

    &__overview-box {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      .overview-box__title {
        font-size: 1.6rem;

        @include media-query.tablet {
          font-size: 1.2rem;
        }
      }

      .overview-box__overview {
        font-size: 1.12rem;
        font-weight: 300;
        line-height: 1.5;

        color: $color-neutral-400;

        @include media-query.tablet {
          font-size: 1rem;
        }
      }
    }
  }

  @include media-query.tablet {
    padding: 8rem 12%;
  }

  @include media-query.mobile-large {
    height: auto;
    min-height: 100dvh;

    padding: 5.2rem 12%;
  }

  @include media-query.mobile-small {
    padding: 4.8rem 8%;
  }
}
