@use '../base/colors' as *;

.movie-detail {
  display: flex;
  align-items: center;

  width: 100%;
  height: 100dvh;

  $gradient-value-1: hsl(216, 40%, 04%);
  $gradient-value-2: hsl(216, 64%, 24%, 0.6);

  background: radial-gradient($gradient-value-2, $gradient-value-1);

  .content {
    display: flex;
    gap: 2rem;
    height: 100%;

    opacity: 0;

    animation: appear 0.8s 0s ease forwards;
  }

  &__movie-poster {
    display: grid;
    place-items: center;
    flex-shrink: 0;

    aspect-ratio: 1/1.5;
    height: 100%;

    border-radius: 0.6rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .movie-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__heading {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;

      .title {
        font-size: 2.8rem;
        line-height: 1;
        text-transform: capitalize;
      }

      div {
        display: flex;
        align-items: center;
        gap: 1rem;

        time {
          font-size: 1rem;
          color: $color-neutral-200;
        }

        span {
          padding: 0.2rem 0.32rem 0.1rem;
          border-radius: 0.2rem;

          font-size: 0.92rem;
          font-weight: 600;
          line-height: 1;

          color: $color-neutral-200;
          background-color: $color-primary-700;
        }
      }
    }

    &__overview {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      h3 {
        font-size: 1.6rem;
      }

      p {
        font-size: 1.2rem;
        font-weight: 300;

        color: $color-neutral-400;
      }
    }
  }
}

// [ ]: Mejorar el estilo del responsive

@media (width <= 1024px) {
  .movie-detail .content {
    height: 90%;
  }

  // [ ]: Esto no esta bien
  .movie-detail .movie-info .movie-info__heading .title {
    font-size: 2rem;
  }
}

@media (width <= 768px) {
  .movie-detail {
    height: auto;
    min-height: 100dvh;
  }

  .movie-detail .content {
    flex-direction: column;
    height: 100%;
  }
}

@media (width <= 480px) {
  .movie-detail {
    padding: 4.8rem 8%;
  }
}
