// GLOBALS
@use './base/globals';

// COMPONENTS
@use './components/input';
@use './components/hero';
@use './components/movie-card';
@use './components/author-info';
@use './components/search-input';
@use './components/loading-spinner';
@use './components/hero-movie-info';
@use './components/genre-list';
@use './components/score-badge';
@use './components/runtime';

// CONTAINERS
@use './layouts/header';
@use './layouts/sort-list';
@use './layouts/movie-grid';
@use './layouts/movie-carousel';
@use './layouts/backdrop-container';

// PAGES
@use './pages/default.page';
@use './pages/home.page';
@use './pages/search.page';
@use './pages/movie-detail.page';
