@use './base/colors' as c;
@use './base/typography' as t;

// Components
@use './components/input.scss' as *;
@use './components/Header.scss' as *;
@use './components/Hero.scss' as *;
@use './components/MovieCard.scss' as *;
@use './components/AuthorInfo.scss' as *;
@use './components/search-input.scss' as *;
@use './components/LoadingSpinner.scss' as *;
@use './components/hero-movie-info' as *;
@use './components/genre-list' as *;
@use './components/score-badge' as *;

// Containers
@use './components/sort-list' as *;
@use './components/MovieGrid.scss' as *;
@use './components/movie-carousel' as *;
@use './components/backdrop-container' as *;

// Pages
@use './pages/DefaultPage.scss' as *;
@use './pages/home.page.scss' as *;
@use './pages/search.page.scss' as *;
@use './pages/movie-detail.page.scss' as *;

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  min-height: 100vh;

  font-family: t.$font-primary, monospace;
  color-scheme: dark;
  accent-color: hsl(c.$hue-primary, 80%, 50%);
}

body {
  // overflow-y: scroll;
  background-color: c.$color-neutral-1300;
}

/*  */

.super-container {
  display: flex;
  flex-direction: column;
}

/*  */

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 180deg;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
