@use './base/colors' as *;
@use './base/typography' as *;

@use './components/BackdropContainer.scss' as *;

@use './pages/DefaultPage.scss' as *;
@use './pages/HomePage.scss' as *;
@use './pages/MovieDetailPage.scss' as *;

@use './components/Header.scss' as *;
@use './components/Hero.scss' as *;
@use './components/MovieGrid.scss' as *;
@use './components/MovieCard.scss' as *;
@use './components/SortList.scss' as *;
@use './components/AuthorInfo.scss' as *;
@use './components/SearchInput.scss' as *;

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;

  font-family: $font-primary, monospace;
  color-scheme: dark;
  accent-color: hsl(216, 80%, 50%);
}

body {
  overflow-y: scroll;
}

/*  */

.super-container {
  display: flex;
  flex-direction: column;
}
